*.dll
*.swp
*.~lock*
*.zip
*.blend[0-9]
*.obj
CMakeLists.txt.user
bin/
build/
src/tags
src/version.h
working/maps/test.map.gz
deployment/*.exe
deployment/*-src
deployment/*.tar.gz
deployment/out
TODO
